:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --main-gap: 24px;
  --second-gap: 48px;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
header {
  background-color: var(--white);
  border-bottom: 1px solid var(--accent);
}

.top {
  display: flex;
  justify-content: space-between;
}

/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.nav-logo {
  padding: 24px 0;
  margin-right: 76px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.nav-logo-dark {
  color: var(--dark);
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--pressed-state);
}

.nav-list {
  padding: 24px 0;
}

.nav-item {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

/* Contacts */
address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-style: normal;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.contacts-list {
  padding: 24px 0;
}

.contacts-item {
  padding: 24px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--pressed-state);
}

/* Hero */
.hero {
  padding: 188px 0;
  background-color: var(--dark);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 48px;
}

.hero-btn {
  padding: 16px 32px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: 0;
  /* text */
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--white);
}

.hero button:hover,
button:focus {
  background: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* About us */
.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--main-gap);
}

.about-us-item {
  display: flex;
  flex-direction: column;
  width: 264px;
}

.about-us-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.about-us-icon {
  width: 64px;
  height: 64px;
}

.about-us-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.about-us-item-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* We doing */
.we-doing {
  padding-top: 0;
}
.we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.we-doing-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--main-gap);
}

.we-doing-item {
  display: flex;
  flex-direction: column;
}

/* Our Team */
.team {
  background: var(--light);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--main-gap);
}

.team-item {
  display: flex;
  flex-direction: column;
  width: 264px;

  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.team-content-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-bottom: 8px;
}

.team-socials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  fill: var(--light);
}

.team-socials-icon {
  width: 16px;
  height: 16px;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background: var(--pressed-state);
}

/* Customers */
.customers {
  padding-top: 130px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--subtle-text);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
}

.customers-icon {
  width: 104px;
  height: 56px;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state);
  fill: var(--pressed-state);
}

/* Footer */
footer {
  padding: 100px 0;
  background: var(--dark);
}

.footer-container {
  display: flex;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--accent);
  width: 264px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
}

.footer-logo-white {
  color: var(--light);
}

.footer-socials {
  margin-left: 120px;
}

.footer-socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--light);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-socials-icon {
  width: 24px;
  height: 24px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

/*================ Portfolio.html ==============*/
.portfolio-section {
  padding-top: 96px;
}

/* Buttons */
.filters-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--main-gap);
  justify-content: center;
  margin-bottom: 72px;
}

.filters-btn {
  justify-content: center;
  padding: 12px 24px;
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  /* Button Text */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}

.filters-item button:hover,
button:focus {
  background: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
}

/* Portfolio */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;

  column-gap: var(--main-gap);
  row-gap: var(--second-gap);
}

.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-item-card {
  background: var(--white);
}

.portfolio-item-content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}

.portfolio-item-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 8px;
}

.portfolio-item-text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: left;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
