:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* Header */
header {
  background-color: var(--white);
  border-bottom: 1px solid var(--accent);
  padding: 24px 0px;
}

.top {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

nav .logo {
  padding: 0;
  margin-right: 76px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
nav .logo-dark {
  color: var(--dark);
}

nav .nav-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.nav-list:active {
  color: var(--pressed-state);
}

nav .nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contacts-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.contacts-list:active {
  color: var(--pressed-state);
}

.contacts-list {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* Hero */
.hero {
  padding: 188px 0;
  background: var(--dark);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  padding-bottom: 48px;
}

.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white);
  margin: 0 auto;
  border: 0;
}

.hero button:hover,
button:focus {
  background: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* About us */
.about-us {
  padding: 120px 0;
}

.about-us-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 264px;
  gap: 8px;
  justify-content: center;
}

.about-us-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.about-us-list-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* We doing */
.we-doing {
  padding-bottom: 120px;
}
.we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.we-doing-container {
  display: flex;
  border: 0;
  justify-content: center;
  gap: 24px;
}

.we-doing-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 360px;
}

/* Our Team */
.our-team {
  background: var(--light);
  padding-bottom: 120px;
  padding-top: 120px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.team-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.tcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.tcard-thumb {
  margin-bottom: 32px;
}

.tcard-title {
  padding: 0;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.tcard-text {
  padding: 0;
  margin: 0 0 32px 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* Footer */
footer {
  padding: 100px 0;
  background: var(--dark);
}

footer p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--accent);
  width: 264px;
}

footer .logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
}

footer .logo-white {
  color: var(--light);
}

/* Portfolio.html */
.filters-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
  margin-top: -26px;
  margin-bottom: 72px;
}

.filters-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  /* Button Text */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}

.filters-item button:hover,
button:focus {
  background: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CARD SET */
.card-set {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}

.card-set > .item {
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 48px;
}

/* CARD */
.card {
  background: var(--white);
  border-bottom: 1px solid var(--accent);
}

.card-content {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  padding: 32px 16px;
}

.card-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 8px;
}

.card-text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 120px 0 120px 0px;
}
